<div class="table-pagination clearfix">
  <div class="float-left pagination-detail">
    <%= page_entries_info @tt0413s, entry_name: 'item' %>
  </div>
  <div class="float-right pagination">
    <%= paginate @tt0413s %>
  </div>
</div>