<div class="d-flex align-items-center justify-content-between mb-3">
  <h3 class="h3 mb-0 font-weight-normal">List of submissions</h3>
  <%= render 'download' %>
</div>
<%= render 'table' %>
<%= render 'pagination' %>