<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <%= link_to 'Home', root_path, class: 'my-0 mr-md-auto font-weight-normal text-dark' %>
  <nav class="nav my-2 my-md-0 mr-md-3">
    <%= render 'layouts/navigation_links' %>
  </nav>
</div>